<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Валовый план</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if session.login %}
        <div class="navbar-nav">
            <a class="nav-link" href="/cubs">Кубики</a>
            <a class="nav-link" href="/order">Список заказов</a>
            <a class="nav-link" href="/keys">Выбор ключевых частей</a>
          </div>
        {% endif %}

        {% if session.login %}
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/logout">Выход</a>
        </div>
        {% else %}
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/login">Авторизация</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>