<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    Валовый план
    {% endblock %}</title>
    
    <!-- Хранятся в static, теперь прекрасно работает на мобильных устройствах-->
    <!-- Подключение Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">


</head>
<body>
 
    {% block navbar%} 
        {% include '_navbar.html'%}
    {% endblock %}
    
    {% block content %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="alert alert-{{ category }}">
            {{ message }}
            </li>
            {% endfor %}
        </ul>
            
        {% endif %}
    {% endwith %}
    {% block sub_content %}
   
    {% endblock %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
</body>
</html>



