{% extends 'base.html' %}
{% block sub_content %}
<div class="container my-4">
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Состав изделия</h1>
    </div>

    <div class="table-responsive" style="max-width: 90%; margin: 0 auto;">
        <table class="table text-dark">
            <thead class="table-light">
                <tr>
                    <th>Выбрать</th>
                    <th>Наименование</th>
                    <th>Обозначение по КД</th>
                    <th>Количество в сборке</th>
                    <th>Межцеховой маршрут</th>
                    <th>Класс</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selected" value="{{ row[0] }}" 
                                   onclick="toggleForm(this, '{{ row[0] }}', '{{ row[1] }}')">
                        </td>
                        <td><a href="{{url_for('keys.keys', dm_index_where= row[0])}}" class = "text-dark">{{ row[1] }}</a></td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Всплывающее окно -->
    <div id="popupForm" class="card p-5" 
        style="display: none; position: fixed; top: 50%; left: 50%; 
           transform: translate(-50%, -50%); width: 500px ;max-width: 90%; min-height: 300px;">
        <h5 class="card-title">Введите даты для <span id="assemblyName"></span></h5>
        <div class="row mt-4"> 

        <input type="hidden" id="assemblyId">

        <div class="mb-3">
            <label for="startDate" class="form-label">Старт сборки</label>
            <input type="date" class="form-control" id="startDate">
        </div>

        <div class="mb-3">
            <label for="endDate" class="form-label">Завершение сборки</label>
            <input type="date" class="form-control" id="endDate">

        </div>


        <div class="row mt-4"> </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" onclick="saveToDatabase()">Сохранить</button>
            <button class="btn btn-danger" onclick="closeForm()">Отмена</button>
        </div>
</div>


</div>

<script>
    function toggleForm(checkbox, id, name) {
        var form = document.getElementById("popupForm");

        if (checkbox.checked) {
            // Открываем форму и заполняем поля
            document.getElementById("assemblyId").value = id;
            document.getElementById("assemblyName").innerText = name;
            form.style.display = "block";
        } else {
            // Если галочка снята — отправляем запрос на удаление
            fetch('/delete_entry', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ assembly_id: id})
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Запись удалена');
                } else {
                    alert('Ошибка: ' + data.message);
                }
            });
        }
    }

    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }

    function saveToDatabase() {
        let id = document.getElementById("assemblyId").value;
        let name = document.getElementById("assemblyName").innerText;
        let startDate = document.getElementById("startDate").value;
        let endDate = document.getElementById("endDate").value;

        if (!id || !startDate || !endDate) {
            alert("Заполните все поля");
            return;
        }

        fetch('/save_dates', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ assembly_id: id, assembly_name: name , start_date: startDate, end_date: endDate })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Данные успешно сохранены в БД');
                location.reload();
            } else {
                alert('Ошибка: ' + data.message);
            }
        });
    }
</script>


{% endblock %}
