{% extends 'base.html' %}
{% block sub_content %}

<div class="container my-4">
    <div class="text-center">
        <h1 class="h3 mb-5 fw-normal">Схемы изготовления</h1>
    </div>
    
    <div class="d-flex justify-content-center gap-5 flex-wrap mt-5">
        <button class="btn btn-outline-dark" type="button">Создать</button>
        <button class="btn btn-outline-dark" type="button">Редактировать</button>
        <button class="btn btn-outline-dark" type="button">Удалить</button>
        <button class="btn btn-outline-dark" type="button">Сменить статус</button>
        <button class="btn btn-outline-dark" type="button">Делегировать</button>
      </div>

    <div class="row mt-5"> 

    </div>
    
    
    <div class="table-responsive" style="max-width: 90%; margin: 0 auto;">
            
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">ШПЗ</th>
                <th scope="col">Заказ</th>
                <th scope="col">Платежный узел</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in results %}
            <tr>
                <th>{{ row[2] }}</th>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}