{% extends 'base.html' %}
{% block sub_content %}


<script>
    function toggleButton(rowId) {
        let button = document.getElementById(`toggleBtn-${rowId}`);
        let icon = document.getElementById(`toggleIcon-${rowId}`);
        let newStatus = button.classList.contains("btn-danger") ? 1 : 0;
    
        // Переключаем стили
        button.classList.toggle("btn-danger");
        button.classList.toggle("btn-success");
        icon.classList.toggle("fa-x");
        icon.classList.toggle("fa-check");
    
        // Отправляем запрос на сервер
        updateStatus(rowId, newStatus);
    }
    
    function updateStatus(rowId, newStatus) {
        console.log(`Отправка данных: ${rowId}, ${newStatus}`);  // Выводим данные для проверки
        fetch("/update_status", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ cube_specification_id: rowId, stop: newStatus })
        }).then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error("Ошибка:", error));
    }

      // Функция для удаления записи
      function deleteComponent(componentId) {
        if (!confirm('Вы уверены, что хотите удалить запись?')) {
            return false;
        }
       
        const data = {
            "spec_id": parseInt(componentId),
        };
        
        fetch('/delete_spec', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) throw new Error('Ошибка сети');
            return response.json(); // Преобразуем ответ в JSON
        })
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                throw new Error(data.message || 'Неизвестная ошибка сервера');
            }
        })
        .catch(error => {
            console.error('Ошибка удаления:', error);
            alert('Ошибка при удалении: ' + error.message);
        });
    }

    // Обработчик клика для кнопок удаления
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.btn-delete').forEach(button => {
            button.addEventListener('click', function() {
                const componentId = this.dataset.componentId;
                
                if (componentId && componentId !== "None" && componentId !== "null") {
                    deleteComponent(componentId);
                } else {
                    alert('Некорректный идентификатор записи');
                }
            });
        });
    });


    function editDate(specId) {
        // Устанавливаем скрытый id спецификации
        document.getElementById('specId').value = specId;
        // Получаем текущую дату из таблицы и заполняем форму
        const currentDate = document.getElementById('date-' + specId).innerText;
        const dateInput = document.getElementById('newDate');
        dateInput.value = currentDate ? formatDateForInput(currentDate) : '';
        
        // Открываем модальное окно
        const modal = new bootstrap.Modal(document.getElementById('editDateModal'));
        modal.show();
    }

    function formatDateForInput(dateStr) {
        const [day, month, year] = dateStr.split('-');
        return `${year}-${month}-${day}`;
    }

    function saveDate() {
        const specId = document.getElementById('specId').value;
        const newDate = document.getElementById('newDate').value;

        if (!newDate) {
            alert('Выберите дату.');
            return;
        }

        // Отправка запроса на сервер для обновления даты
        fetch('/update_spec_date', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ specId: specId, newDate: newDate })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Обновляем дату на странице
                document.getElementById('date-' + specId).innerText = formatDateForDisplay(newDate);
                // Закрываем модальное окно
                const modal = bootstrap.Modal.getInstance(document.getElementById('editDateModal'));
                modal.hide();
            } else {
                alert('Произошла ошибка при сохранении даты.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Произошла ошибка при отправке данных.');
        });
    }

    function formatDateForDisplay(dateStr) {
        const [year, month, day] = dateStr.split('-');
        return `${day}-${month}-${year}`;
    }


</script>

<div class="container my-4">
    <div class="text-center">
        <h1 class="h3 mb-5 fw-normal">Спецификации</h1>
    </div>
    
    <div class="d-flex justify-content-center gap-5 flex-wrap mt-5">
        <a href="{{ url_for('spec_select', pay_unit_id = ps_ind) }}">
            <button type="submit" class="btn btn-outline-dark" type="button">Добавить</button>
        </a>
               
        <form action="{{ url_for('spec') }}" method="get">
            <input type="hidden" name="ps_ind" value="{{ ps_ind }}">
            <button class="btn btn-outline-dark" type="submit">Обновить</button>
        </form>
   
      </div>
      
    <div class="row mt-5"> 

    </div>
    
    
    <div class="table-responsive" style="max-width: 100%; margin: 0 auto;">
            
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Статус</th>
                    <th>Наименование, обозначение</th>
                    <th>Тип</th>
                    <th>Начало</th>
                    <th>Примечание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td>
                        <button id="toggleBtn-{{ row[0] }}" class="btn btn-sm {% if row[1] == 1 %}btn-success{% else %}btn-danger{% endif %}" 
                        onclick="toggleButton({{ row[0] }})">
                            <i id="toggleIcon-{{ row[0] }}" class="fa-solid {% if row[1] == 1 %}fa-check{% else %}fa-x{% endif %}"></i>
                        </button>
                    </td> <!-- CS.STOP -->
                    <td> <!-- Добавил параметры -->
                        <a href="{{ url_for('product', in_cube_spec_id = row[0], 
                                            in_parent_da_path = 'None', 
                                            in_parent_da_index = 0,
                                            in_parent_branch_num = 0
                                            ) 
                                }}" class = "text-dark">{{ row[3]  if row[3] is not none else '' }}</a>
                    </td> <!-- DSE_NAME -->
                    <td>{{ row[4]  if row[4] is not none else ''}}</td> <!-- TYPE_SPEC -->
                    <td>
                        <span id="date-{{ row[0] }}">{{ row[5].strftime('%d-%m-%Y') if row[5] is not none else '' }}</span>
                        <button class="btn btn-sm btn-outline-dark ms-2" onclick="editDate({{ row[0] }})">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </td> <!-- DATE_GENERAL -->
                    <td>{{ row[6]  if row[6] is not none else ''}}</td> <!-- TITLE -->
                    <td>
                        <button class="btn btn-sm btn-outline-dark btn-delete"
                            data-component-id="{{ row[0] }}">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-dark" 
                                data-bs-toggle="modal" 
                                data-bs-target="#ganttModal"
                                data-specification-id="{{ row[0] }}"
                                data-specification-name="{{ row[3] }}" 
                                onclick="loadGanttChart(this)">
                            <i class="fa-solid fa-chart-gantt"></i> 
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<!-- Модальное окно для редактирования даты -->
<div class="modal fade" id="editDateModal" tabindex="-1" aria-labelledby="editDateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDateModalLabel">Редактирование даты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="editDateForm">
                    <input type="hidden" id="specId" name="specId">
                    <div class="mb-3">
                        <label for="newDate" class="form-label">Новая дата</label>
                        <input type="date" class="form-control" id="newDate" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveDate()">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>




<!-- Модальное окно для диаграммы Гантта -->
<div class="modal fade" id="ganttModal" tabindex="-1" aria-labelledby="ganttModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ganttModalLabel">График сборки для узла </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div id="ganttContainer" style="height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/highcharts/code/highcharts.js"></script>
    <script src="/static/highcharts/code/modules/gantt.js"></script>
    <script src="/static/highcharts/code/modules/accessibility.js"></script>
    <script src="/static/highcharts/code/modules/exporting.js"></script>

    <style>
        #container {
           max-width: 1000px;
           max-height: 1000px;
           margin: 1em auto;
       }   
       </style>  
       
       
<!-- Функция для загрузки диаграммы Гантта -->
<script>

    function loadGanttChart(button) {
        const nodeId = button.getAttribute("data-specification-id");
        const nodeName = button.getAttribute("data-specification-name");
    
        fetch(`/get_gantt_data/${nodeId}`)
            .then(response => response.json())
            .then(data => {
                const chartData = [
    {
        id: 'node', // Корень
        name: nodeName,
        collapsed: true
    },
    {
        id: 'node-assembly',
        name: 'Сборка',
        parent: 'node',
        collapsed: true
    },
    {
        id: 'node-components',
        name: 'Комплектация',
        parent: 'node',
        collapsed: true
    }
];

// Добавляем задачи
data.forEach((item, index) => {
    chartData.push({
        id: `task-${index}`,
        name: item.name,
        start: Date.parse(item.start),
        end: Date.parse(item.end),
        parent: item.type === 'Сборка' ? 'node-assembly' : 'node-components'
    });
});
    console.log(chartData);
    Highcharts.setOptions({
    lang: {
        week: 'Неделя'
    },
    time: {
        dateTimeLabelFormats: {
            week: 'Неделя %W'
        }
    }
});

                Highcharts.ganttChart('ganttContainer', {
                    title: { text: `${nodeName}` },
                    xAxis: {
        type: 'datetime',
        labels: {
            formatter: function () {
                // Форматирование: всегда выводим "Неделя " и номер недели
                var weekNum = Highcharts.dateFormat('%W', this.value);
                return 'Неделя ' + weekNum;
            }
        }
    },
                    yAxis: {
                        type: 'treegrid',
        uniqueNames: true,
        grid: {
            enabled: true
        }
    },
      
    navigator: {
      enabled: true,
      liveRedraw: true,
      series: {
        type: 'gantt',
        pointPlacement: 0.5,
        pointPadding: 0.25,
        accessibility: {
          enabled: false
        }
      },
      yAxis: {
        min: 0,
        max: 3,
        reversed: true,

      },
      
    },
    scrollbar: {
      enabled: true
    },
    
  
    rangeSelector: {
      enabled: true,
      selected: 0
    },
  
    accessibility: {
      point: {
        descriptionFormat: '{yCategory}. Task {completed.amount * 100:.1f}% completed. ' +
                            'Start {x:%Y-%m-%d}, end {x2:%Y-%m-%d}.'
      },
      series: {
        descriptionFormat: '{name}'
      }
    },
    
    lang: {
      accessibility: {
        axis: {
          xAxisDescriptionPlural: 'The chart has a two-part X axis showing time in both week numbers and days.',
          yAxisDescriptionPlural: 'The chart has one Y axis showing task categories.'
        }
      }
    },
  
  
                    series: [{
                        name: 'Составляющие',
                        data: chartData
                       
                    }]
                });
            })
            .catch(error => {
                console.error("Ошибка при загрузке графика:", error);
            });
    }
    </script>
{% endblock %}