{% extends 'base.html' %}
{% block sub_content %}


<script>
    function toggleButton(rowId) {
        let button = document.getElementById(`toggleBtn-${rowId}`);
        let icon = document.getElementById(`toggleIcon-${rowId}`);
        let newStatus = button.classList.contains("btn-danger") ? 1 : 0;
    
        // Переключаем стили
        button.classList.toggle("btn-danger");
        button.classList.toggle("btn-success");
        icon.classList.toggle("fa-x");
        icon.classList.toggle("fa-check");
    
        // Отправляем запрос на сервер
        updateStatus(rowId, newStatus);
    }
    
    function updateStatus(rowId, newStatus) {
        console.log(`Отправка данных: ${rowId}, ${newStatus}`);  // Выводим данные для проверки
        fetch("/update_status", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ cube_specification_id: rowId, stop: newStatus })
        }).then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error("Ошибка:", error));
    }
</script>

<div class="container my-4">
    <div class="text-center">
        <h1 class="h3 mb-5 fw-normal">Спецификации</h1>
    </div>
    
    <div class="d-flex justify-content-center gap-5 flex-wrap mt-5">
        <a href="{{ url_for('spec_select', pay_unit_id = ps_ind) }}">
            <button type="submit" class="btn btn-outline-dark" type="button">Добавить</button>
        </a>
               
        <form action="{{ url_for('spec') }}" method="get">
            <input type="hidden" name="ps_ind" value="{{ ps_ind }}">
            <button class="btn btn-outline-dark" type="submit">Обновить</button>
        </form>
   
      </div>
      
    <div class="row mt-5"> 

    </div>
    
    
    <div class="table-responsive" style="max-width: 100%; margin: 0 auto;">
            
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Статус</th>
                    <th>Наименование, обозначение</th>
                    <th>Тип</th>
                    <th>Количество</th>
                    <th>Начало</th>
                    <th>Примечание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td>
                        <button id="toggleBtn-{{ row[0] }}" class="btn btn-sm {% if row[1] == 1 %}btn-success{% else %}btn-danger{% endif %}" 
                        onclick="toggleButton({{ row[0] }})">
                            <i id="toggleIcon-{{ row[0] }}" class="fa-solid {% if row[1] == 1 %}fa-check{% else %}fa-x{% endif %}"></i>
                        </button>
                    </td> <!-- CS.STOP -->
                    <td> <!-- Добавил параметры -->
                        <a href="{{ url_for('product', in_cube_spec_id = row[0], 
                                            in_parent_da_path = 'None', 
                                            in_parent_da_index = 0,
                                            in_parent_branch_num = 0
                                            ) 
                                }}" class = "text-dark">{{ row[3] }}</a>
                    </td> <!-- DSE_NAME -->
                    <td>{{ row[4] }}</td> <!-- TYPE_SPEC -->
                    <td>{{ row[5] }}</td> <!-- NUM -->
                    <td>{{ row[6].strftime("%d-%m-%Y") }}</td> <!-- DATE_GENERAL -->
                    <td>{{ row[7] }}</td> <!-- TITLE -->
                    <td>
                        <button class="btn btn-sm btn-outline-dark">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}